@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color           : #FFF;
  margin          : 0;
  font-family     : 'Roboto', sans-serif;
}

.lists {
  margin: -150px 0px;
}

footer {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  padding       : 8rem 0rem 2rem 0rem;
  text-align    : center;
}

p {
  margin: 0
}

.loading {
  position        : fixed;
  left            : 0;
  top             : 0;
  right           : 0;
  bottom          : 0;
  z-index         : 99;
  background-color: #000;
  display         : flex;
  align-items     : center;
  justify-content : center;
  transform       : scale(0.85);
}

@media(max-width: 760px) {
  .loading {
    transform: scale(0.5);
  }
}